img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
div{
  display: block;
}
.App{
  max-width: 1200px;
  margin: 0 auto;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-item{
  width: 25%;
  margin: 18px 0px;
}
.list-item img{
  width: 100%;
}
.list-item-content{
  margin: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.list-item-content-descr{
  padding: 2px 20px;
}

