.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-wrapper {
    border: 1px solid #ccc;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.header img {
    height: 200px;
}
.left-info {
    margin-left: 20px;
    width: 100%;
}
h2{
    margin-left:10px ;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.header span{
    text-decoration: underline;
}
.bred{
    padding: 20px;
}